# **Type Casting**

## int to float

In [3]:
age_int =29
age_float = float(age_int)
print(age_float)
print(type(age_float))

29.0
<class 'float'>

## float to int

In [4]:
age_float = 16.00
age_int = int(age_float)
print(age_int)
print(type(age_int))

16
<class 'int'>

## float or int to string

In [5]:
number_int = 10
number_float = 10.5

In [6]:
number_int = str(number_int)
number_float = str(number_float)

## str to int or float

In [7]:
value = "225"
value_int = int(value)
value_float = float(value)

## list to tuple

In [8]:
my_list = [1,2,3]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3)

## tuple to list

In [9]:
my_new_list = list(my_tuple)
print(my_new_list)

[1, 2, 3]

## list to set

In [10]:
my_set = set(my_list)
print(my_set)

{1, 2, 3}

## set to list

In [11]:
my_new_list_2 = list(my_set)
print(my_new_list_2)

[1, 2, 3]

## boolean

In [12]:
num = 10
bool_value = bool(num)
print(bool_value)

True

In [13]:
empty_list = []
empty_list = bool(empty_list)
print(empty_list)

False